@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .App{
        display:grid;
        gap:1rem;
        grid-template-rows:min-content 1fr;
        grid-template-columns:min-content 1fr fit-content;
    }

    .home{
        display:flex;
        grid-column:2/3;
        flex-direction:column;
        gap:1rem;
        border-right:1px solid #dbdbdb;
        border-left:1px solid #dbdbdb;
    }

    .navigation{
        grid-column:1/4;
        padding: theme('spacing.4');
    }

    .sidebar{
        grid-column:1/2;
    }

    .button {
        color:theme(colors.white);
        background-color:theme(colors.blue.500);
        padding: theme('spacing.1') theme('spacing.2') theme('spacing.1') theme('spacing.2');
        font-weight:theme(fontWeight.medium);
        border-radius:theme('borderRadius.xl');
    }

    .button:hover{
        background-color:theme('colors.blue.700');
    }

    .button:focus{
        outline:none;
        background-color:theme('colors.blue.800');
    }

    .profile-dropdown li{
        padding:theme('spacing.1');
        align-self:center;
    }

    .profile-dropdown{
        text-align:center;
        padding:theme('spacing.1');
        background-color:theme('colors.gray.200');
        border-radius:theme('borderRadius.xl');
    }

    .textarea{
        height:8rem
    }

    .edit-profile-photo{
        display:inline;
        clip-path: circle(100px);
    }

    .edit-photo-container:hover .overlay-text{
        opacity:1;
    }

    .edit-photo-container:hover{
        cursor:pointer;
        opacity:0.7;
    }

    .edit-photo-container{
        position:relative;
        clip-path: circle(100px);
        height:200px;
    }   

    .overlay-text{
        color:gray;
        display:flex;
        position:absolute;
        top:50%;
        left:50%;
        opacity:0;
        transition: .5s ease;
        transform:translate(-50%,-50%);
        text-align:center;
    }

  }